  <footer class="footer footer-default">
  <div class="container">
  <nav>
    <ul>
    <li>
      <a href="https://twitter.com/AskCareerCloset">
         <%= image_tag "1_twitter.png" %>
      </a>
    </li>
     <li>
         <a href="https://www.facebook.com/askcareercloset">
        <%= image_tag "1_facebook.png" %>
      </a>
    </li>
     <li>
      <a href="http://www.setmore.com/">
        <%= image_tag "1_calendar.png" %>
      </a>
    </li>
     <li>
         <a href="http://www.tamucareercloset.com/">
         <%= image_tag "1_home.png" %>
      </a>
    </li>
    </ul>
  </nav>
  </div>
  </footer>