  <footer class="footer">
  <div class="container">
  <nav>
    <ul>
      <li><%= link_to "Twitter",   'https://twitter.com/AskCareerCloset' %></li>
      <li><%= link_to "Facebook", 'https://www.facebook.com/askcareercloset' %></li>
      <li><%= link_to "SetMore", 'http://www.setmore.com/' %></li>
      <li><%= link_to "Career Closet", 'http://www.tamucareercloset.com/' %></li>
    </ul>
  </nav>
  </div>
  </footer>