<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>
<div class="about">
    <div class="container">
      <h3 class="title">Our Available Suits</h3>
      <div class="about-info">
      </div>
    </div>
  </div>

<br>

<%= link_to 'New Rental', new_rental_path %>
